body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f8f8;
}

/* Title styling */
h1 {
    font-size: 3em;
}

/* Grid layout using CSS Grid */
.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 items per row */
    gap: 30px; /* Space between items */
    max-width: 1290px; /* Increased container width */
    margin: 20px auto;
}

/* Individual clue boxes */
.clue {
    aspect-ratio: 1 / 1; /* Keeps squares */
    border: 4px solid rgb(194, 155, 125);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
    padding: 15px;
}

/* Image styling */
.clue img {
    max-width: 100%; /* Allow image to fill more space */
    max-height: 100%;
    object-fit: contain;
}

.popup{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 250px;
    border-radius: 10px;
    z-index: 2;
  }
  
  #popupButton{
    color: #f5f0e9;
    display: flex;
    gap: 12px;
    white-space: nowrap;
    border-radius: 8px;
    padding: 11px 15px;
    align-items: center;
    text-decoration: none;
    border: 1px solid #112250;
    background-color: #112250;
    transition: 0.4s ease;
  }
  
  #popupButton:hover{
    background-color: #f5f0e9;
    color: #112250;
    cursor: pointer;
  }
  
  #hints {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
  }
  
  .close-btn{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
    color:#6d2932;
    z-index: 2;
  }

  #timerv2 {
    color: white;
    background-color: #112250;
    position: absolute;
    bottom: 13%;
    left: 37.5%;
    height: 15rem;
    width: 30rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2rem;
    
  }
/* Responsive design */
@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr); /* 3 items per row on medium screens */
    }
}

@media (max-width: 400px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr); /* 2 items per row on small screens */
    }
}